# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
env/
.venv/

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/
*.iml

# ==============================
# Python Environment
# ==============================
.python-version

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Uploaded files
# ==============================
web/uploads/
audio/uploads/
text/uploads/

# ==============================
# Local test files
# ==============================
tests/sample_images/
tests/sample_videos/

# ==============================
# Dataset files
# ==============================
dataset/
dataset_source/

audio/dataset/
text/dataset/

# ==============================
# Local database / secrets
# ==============================
.env
*.env

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp